# Precios de los Vehiculos
por: `Julio Assmann`    


En este notebook realizaremos una limpieza del notebook, adem√°s de modificar ciertas columnas para poder tratarlas, como lo son la columnas condition y saledate

In [17]:
#librerias cargadas para todo el notebook
import pandas as pd
from datetime import datetime
import re

In [18]:
#origen del archivo
csv_path='D:\Julio Assmann\Descargas\ProyectoFinal_Python\Data Sets\Data Original\car_prices.csv'
df= pd.read_csv(csv_path)

df.head(10)

<>:2: SyntaxWarning: invalid escape sequence '\J'
<>:2: SyntaxWarning: invalid escape sequence '\J'
C:\Users\fpsju\AppData\Local\Temp\ipykernel_11816\4208965657.py:2: SyntaxWarning: invalid escape sequence '\J'
  csv_path='D:\Julio Assmann\Descargas\ProyectoFinal_Python\Data Sets\Data Original\car_prices.csv'

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
5,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,automatic,wbsfv9c51ed593089,ca,34.0,14943.0,black,black,the hertz corporation,69000.0,65000.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900.0,9800.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
8,2014,Audi,A4,2.0T Premium Plus quattro,Sedan,automatic,wauffafl3en030343,ca,42.0,9557.0,white,black,audi mission viejo,32100.0,32250.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
9,2014,Chevrolet,Camaro,LT,Convertible,automatic,2g1fb3d37e9218789,ca,3.0,4809.0,red,black,d/m auto sales inc,26300.0,17500.0,Tue Jan 20 2015 04:00:00 GMT-0800 (PST)

## Descripci√≥n de Columnas 

-   `year` :(int64) Columna que muestra el a√±o de producci√≥n del auto.
-   `make` : (object) Columna que muestra f√°brica del auto.
-   `model`: (object) Columna que muestra modelo del auto.
-   `trim` : (object) Columna que muestra  versi√≥n del modelo.
-   `body` : (object) Columna que muestra tipo del vehiculo.
-   `transmision`: (object) Columna que muestra tipo de transmisi√≥n.
-   `vin`:  (object) Columna que muestra ID unica del vehiculo (vehicule identification number).
-   `state`: (object) Columna que muestra estado donde se vendi√≥ el auto.
-   `condition`: (float64) Columna que muestra nota de calidad del estado del vehuculo (-1 a 5+).
-   `odometer`: (float64) Columna que muestra millaje del vehiculo.
-   `color`: (object) Columna que muestra color del vehiculo.
-   `interior` : (object) Columna que muestra color del interior del vehiculo.
-   `seller` : (object) Columna que muestra nombre del vendedor del vehivulo.
-   `mmr` : (object) Columna que muestra el  "Manheim Market Report"  valor establecido para el vehiculo.
-   `sellingprice` : (object) Columna que muestra el valor de venta del vehiculo.
-   `saledate`: (object) Columna que muestra la fecha de venta del vehiculo.

In [19]:
#revision de nulos
null_counts = df.isnull().sum()
null_counts

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [20]:
print(df.dtypes)

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object

In [21]:
# Corregir columna condition ( valores entre 1 a 5)
def correct_condition(value):
    if value > 5:
        value = value / 10  
    return value

df['condition'] = df['condition'].apply(correct_condition)

condition_corrected = df['condition'].between(1, 5).all()
print("Columna 'Condition' corregida:", condition_corrected)

# revisar los tipos de resultados en esta columna, ya que los NAN los pasaremos a 0
df['condition'] = df['condition'].fillna(0)

unique_values = df['condition'].unique()
print("\nUnique values in the 'condition' column (after filling NaNs with 0):", unique_values)
value_counts = df['condition'].value_counts()

Columna 'Condition' corregida: False

Unique values in the 'condition' column (after filling NaNs with 0): [5.  4.5 4.1 4.3 1.  3.4 2.  4.2 3.  4.8 0.  4.9 1.7 1.9 2.9 3.8 4.4 4.7
 3.2 4.  2.5 3.7 3.9 3.1 2.8 4.6 3.6 3.5 2.6 2.1 2.2 2.7 2.4 3.3 2.3 1.5
 1.6 1.8 1.2 1.4 1.1 1.3]

In [22]:
#eliminar filas vacias relacionadas al make, ya que  pueden ser autos custom sin marca o errores de la tabla y no los necesitamos para la revisi√≥n
df = df.dropna(subset=['make'])
null_counts_after_dropping_make = df.isnull().sum()

#remplazar los NAN por "Not Specified"
df = df.fillna("Not Specified")
null_counts_after_filling = df.isnull().sum()
print("\nNumber of null values in each column after filling NaNs with 'Not Specified':")
print(null_counts_after_filling)

# ver data set
df.head(10)

Number of null values in each column after filling NaNs with 'Not Specified':
year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
5,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,automatic,wbsfv9c51ed593089,ca,3.4,14943.0,black,black,the hertz corporation,69000.0,65000.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900.0,9800.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
8,2014,Audi,A4,2.0T Premium Plus quattro,Sedan,automatic,wauffafl3en030343,ca,4.2,9557.0,white,black,audi mission viejo,32100.0,32250.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
9,2014,Chevrolet,Camaro,LT,Convertible,automatic,2g1fb3d37e9218789,ca,3.0,4809.0,red,black,d/m auto sales inc,26300.0,17500.0,Tue Jan 20 2015 04:00:00 GMT-0800 (PST)

In [23]:
#modificar la columna saledate
def format_saledate(date_str):
    match = re.match(r'(.*\d{4} \d{2}:\d{2}:\d{2})', date_str)
    if match:
        clean_date_str = match.group(1)
    else:
        # fecha generica para identificar en futuro
        clean_date_str = 'Fri Jul 16 1963 23:59:00'
    
    try:
        dt = datetime.strptime(clean_date_str, '%a %b %d %Y %H:%M:%S')
    except ValueError:
        dt = datetime.strptime('Fri Jul 16 1963 23:59:00', '%a %b %d %Y %H:%M:%S')
    
    return dt

df['formatted_date'] = df['saledate'].apply(format_saledate)

#generar columna para control de ventas por a√±o
df['saleyear'] = df['formatted_date'].dt.year


print(df.head(10))

   year       make                model                       trim  \
0  2015        Kia              Sorento                         LX
1  2015        Kia              Sorento                         LX
2  2014        BMW             3 Series                 328i SULEV
3  2015      Volvo                  S60                         T5
4  2014        BMW  6 Series Gran Coupe                       650i
5  2015     Nissan               Altima                      2.5 S
6  2014        BMW                   M5                       Base
7  2014  Chevrolet                Cruze                        1LT
8  2014       Audi                   A4  2.0T Premium Plus quattro
9  2014  Chevrolet               Camaro                         LT

          body transmission                vin state  condition odometer  \
0          SUV    automatic  5xyktca69fg566472    ca        5.0  16639.0
1          SUV    automatic  5xyktca69fg561319    ca        5.0   9393.0
2        Sedan    automatic  wba3c1c51ek116351    ca        4.5   1331.0
3        Sedan    automatic  yv1612tb4f1310987    ca        4.1  14282.0
4        Sedan    automatic  wba6b2c57ed129731    ca        4.3   2641.0
5        Sedan    automatic  1n4al3ap1fn326013    ca        1.0   5554.0
6        Sedan    automatic  wbsfv9c51ed593089    ca        3.4  14943.0
7        Sedan    automatic  1g1pc5sb2e7128460    ca        2.0  28617.0
8        Sedan    automatic  wauffafl3en030343    ca        4.2   9557.0
9  Convertible    automatic  2g1fb3d37e9218789    ca        3.0   4809.0

   color interior                                             seller      mmr  \
0  white    black                            kia motors america  inc  20500.0
1  white    beige                            kia motors america  inc  20800.0
2   gray    black             financial services remarketing (lease)  31900.0
3  white    black                            volvo na rep/world omni  27500.0
4   gray    black             financial services remarketing (lease)  66000.0
5   gray    black  enterprise vehicle exchange / tra / rental / t...  15350.0
6  black    black                              the hertz corporation  69000.0
7  black    black  enterprise vehicle exchange / tra / rental / t...  11900.0
8  white    black                                 audi mission viejo  32100.0
9    red    black                                 d/m auto sales inc  26300.0

  sellingprice                                 saledate      formatted_date  \
0      21500.0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST) 2014-12-16 12:30:00
1      21500.0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST) 2014-12-16 12:30:00
2      30000.0  Thu Jan 15 2015 04:30:00 GMT-0800 (PST) 2015-01-15 04:30:00
3      27750.0  Thu Jan 29 2015 04:30:00 GMT-0800 (PST) 2015-01-29 04:30:00
4      67000.0  Thu Dec 18 2014 12:30:00 GMT-0800 (PST) 2014-12-18 12:30:00
5      10900.0  Tue Dec 30 2014 12:00:00 GMT-0800 (PST) 2014-12-30 12:00:00
6      65000.0  Wed Dec 17 2014 12:30:00 GMT-0800 (PST) 2014-12-17 12:30:00
7       9800.0  Tue Dec 16 2014 13:00:00 GMT-0800 (PST) 2014-12-16 13:00:00
8      32250.0  Thu Dec 18 2014 12:00:00 GMT-0800 (PST) 2014-12-18 12:00:00
9      17500.0  Tue Jan 20 2015 04:00:00 GMT-0800 (PST) 2015-01-20 04:00:00

   saleyear
0      2014
1      2014
2      2015
3      2015
4      2014
5      2014
6      2014
7      2014
8      2014
9      2015

In [24]:
file_path = r'D:\Julio Assmann\Descargas\ProyectoFinal_Python\Data Sets\Data  Limpia\car_prices.csv'

# Save the DataFrame to a CSV file at the specified location
df.to_csv(file_path, index=False)

print(f"DataFrame successfully saved to {file_path}")

DataFrame successfully saved to D:\Julio Assmann\Descargas\ProyectoFinal_Python\Data Sets\Data  Limpia\car_prices.csv